.features{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background: url(../images/Vector.svg);
    background-position: right 100% bottom -89px;
    margin-top: 9rem;
    position: relative;
    @include responsive(tab-land) { // width < 1200?
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0rem;
    }
    &__shape-bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    
    &__featuresImg{
        position: relative;
        padding-top: 3rem;
        &--litlleRound{
            position: absolute;
            border-radius: 50%;
            background-color: #e7e6ef;
            width: 20rem;
            height: 20rem;
            transform: translateX(-80%);
            left: 80%;
            @include responsive(tab-land) { // width < 1200?
                left: 65%;
                transform: translateX(-50%);
            }
        }
        &--bigRound{
            position: absolute;
            border-radius: 50%;
            background-color: #676099;
            width: 43rem;
            height: 43rem;
            left: 50%;
            transform: translateX(-50%);
            // @include responsive(tab-land) { // width < 1200?
            //     left: 50%;
            //     transform: translateX(-50%);
            // }
        }
        &--PoussImg{
            width: 55rem;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem;
            position: absolute;
            @include responsive(tab-land) {  
                bottom: 3rem;
            }
        }
    }
    &__featuresInfo{
        text-align: center;
        width: 71rem;
        @include responsive(tab-land) { // width < 1200?
            width: 100%;
        }
        &--title{
            @include sections-title;
        }
        &--desc{
            color: #949caa;
            font-size: 2rem;
            width: 42rem;
            margin: 0 auto;
        }
        &--carac{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            @include responsive(tab-land) { // width < 1200?
                margin: auto;
                width: 80%;
            }
            .caracteristique{
                text-align: center;
                padding: 21px 0rem 1rem 0rem;
                img{
                    border-radius: 50%;
                    border:  1px solid #F56E96;
                    box-shadow: drop-shadow(0px 20px 51px rgba(185, 62, 100, 0.1));;
                    width: 10rem;
                    height: 10rem;
                    margin-bottom: 1rem;
                    filter: drop-shadow(0px 20px 51px rgba(185, 62, 100, 0.1));
                }
                p{
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #949CAA;
                    &:hover{
                        color: #F56E96;
                    }
                }
            }
        }
    }
}

// svg{
//     overflow: hidden;
//     vertical-align: middle;
// }