.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 0rem 0rem 21rem;
    @include responsive(tab-land) { // width < 1200?
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
    }
    // @include custom_media(1100) {
    //     @media screen and (max-width: (1100 / 16)*1em) {
    //         grid-template-columns: 1fr;
    //         grid-template-rows: 1fr 2fr;
    //         margin: 0rem 0rem 0rem 0rem;
    //         text-align: center;
    //     };
    // }

    &__siege {
        &--title {
            @include sections-title;
            margin: 0 0.6em;
        }

        &--desc {
            color: #2C234D;
            font-size: 3rem;
            font-weight: 400;
            margin: 2rem 3rem;
            // @include responsive(tab-port) { // width < 900?
            //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
            //     color: red;
            // }
        }

        &--list {
            display: flex;
            color: #949CAA;
            font-size: 1.8rem;
            font-weight: 400;
            margin: 2rem 3rem;
            @include responsive(tab-land) { // width < 1200?
                justify-content: center;
            }
            ul {
                list-style: none;
                margin: 0 4em 0 0;

            }
        }
        &--line {
            border: 0.1px solid #c4c4c4;
            width: 44rem;
            margin: 0px 0rem 4rem 3rem;
            // @include custom_media(1100) {
            //     @media screen and (max-width: (1100 / 16)*1em) {
            //         // margin: 0px auto 4rem auto;
            //         // width: 40rem;
            //         left: 50%;
            //         transform: translateX(-65%);
            //         position: relative;
            //     };
            // }
            @include responsive(tab-land) { // width < 1200?
                left: 50%;
                    transform: translateX(-65%);
                    position: relative;
            }
        }
    
        &--achatRating {
            display: flex;
            // @include custom_media(1100) {
            //     @media screen and (max-width: (1100 / 16)*1em) {
            //         display: flex;
            //         justify-content: center;
            //     }
            // };
            @include responsive(tab-land) { // width < 1200?
                justify-content: center;
            }
    
            .achat {
                padding: 0 5rem 0 4rem;
                // @include custom_media(1100) {
                //     @media screen and (max-width: (1100 / 16)*1em) {
                //         padding: 0px 12rem 0 2rem;
                //     }
                // };
                @include responsive(tab-land) { // width < 1200?
                    padding: 0px 12rem 0 2rem;
                }
    
                .achatRating {
                    border-radius: 50%;
                    background-color: #FFFFFF;
                    box-shadow: 0px 20px 51px rgba(150, 6, 49, 0.1);
                    text-align: center;
                    width: 7rem;
                    height: 7rem;
                    left: 45rem;
                    color: #E8507B;
    
                    h4 {
                        font-weight: 600;
                        font-size: 2rem;
                        padding-top: 1rem;
                    }
    
                    p {
                        font-weight: 300;
                    }
                }
    
                h4 {
                    font-weight: 600;
                    font-size: 2rem;
                    padding-top: 1rem;
                }
            }
        }
    }

    

    &__siegeIm {
        position: relative;

        &--strtransparent {
            position: absolute;
            width: 42rem;
            height: 42rem;
            border-radius: 3rem;
            background-color: white;
            width: 27rem;
            top: 18rem;
            right: 41rem;
            height: 30rem;
            filter: drop-shadow(-2px 40px 58px rgba(185, 62, 100, 0.12));

            @include responsive(tab-land) {
                // width < 1200?
                transform: translateX(-50%);
                left: 38%;
            };

            // @include responsive(tab-port) {
            //     // width < 900?
            //     font-size: 50%; //1 rem = 8px, 8/16 = 50%

            // };
        }

        &--Poussette {
            position: absolute;
            border-radius: 3rem;
            left: 21rem;
            object-fit: cover;
            width: 25rem;
            height: 37rem;
            transform: scaleX(-1);
            filter: drop-shadow(-13px 40px 54px rgba(185, 62, 100, 0.12));

            @include responsive(tab-land) {
                // width < 1200?
                // left: 54rem;
                // top: 1rem;
                left: 50%;
                transform: translateX(-50%) scaleX(-1);
            }
            // @include custom_media(1100) {
            //     @media screen and (max-width: (1100 / 16)*1em) {
            //         left: 54rem;
            //     }
            // };

        }

        &--bigRound {
            position: absolute;
            border-radius: 50%;
            width: 45rem;
            right: 22rem;
            /* bottom: 40rem; */
            top: 3rem;
            height: 45rem;
            background-color: #f8ebd9;

            @include responsive(tab-land) {
                // width < 1200?
                transform: translateX(-50%);
                left: 50%;
            }
        }

        &--liRound {
            position: absolute;
            border-radius: 50%;
            width: 28rem;
            right: 12rem;
            top: 2rem;
            height: 28rem;
            background-color: #f6ede6;

            @include responsive(tab-land) {
                transform: translateX(-55%);
                left: 60%;
            }
        }

        &--imagesShap {
            position: absolute;
            top: 34rem;
            right: 27rem;

            @include responsive(tab-land) {
                // width < 1200?
                transform: translateX(-50%);
                left: 50%;
            }
            // @include custom_media(1100) {
            //     @media screen and (max-width: (1100 / 16)*1em) {
            //         right: 41rem;
            //     }
            // };
        }
    }
}